body{
  background-color: yellow;
}

li{
  display: inline-block;
  background-color: white;
  padding-top: ;: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 1px;
  border-radius: 10px;
  border: 1px solid green;
}
.active{
  color: red;
  
}
button{
  border-radius: 15px;
  
}